*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.Home-page{
    margin:0rem;
    padding: 0rem;

}
.Home-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.Home-navbar img{
    scale:0.8;

}
.Home-navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.Home-navbar ul a {
    text-decoration: none;
    margin-right: 3rem;
    color: black;
}
.main-section{
    display: flex;
    flex-direction: row;
    column-gap:3rem;
    align-items: center; 
    justify-content:center;
    margin:4rem;
}
.main-left-section{
    display: flex;
    flex-direction: column;
    row-gap:1.3rem;
    width:40rem;

}
.main-left-section img{
    width:2rem;
    height:2rem;
}
.main-left-section img:last-child{
    margin-left: 28rem;
    margin-top: -3rem;
}
.main-left-section h1{
    font-size:2.5rem;
    display: inline-block;
    width: 26rem;
    margin-top: -1rem;

}
.main-left-section p{
    font-size: 0.9rem;
    display: inline-block;
    width:30rem;
}
.main-left-section button{
    width:12rem;
    height:2rem;
    background-color:rgb(73, 177, 118);
    color: #ffff;
    font-weight: bold;
    border-radius: 2rem;
    border-color:transparent;
}

 .main-right-section{
     display: flex;
     flex-direction: column;
     align-items:center;
     justif-content:center;
     margin-top: -14rem;
     margin-left:-2rem;
     /* margin-right:-1rem; */
     
} 
 .main-right-section img{
    width:10rem;
    height:10rem;
     position: absolute; 
}
.main-right-section img:first-child{
     width:20rem;
     height:20rem;
} 
.main-right-section img:nth-child(2){
    width:17rem;
    height:17rem;
    margin: 1.8rem 0rem 0rem 3rem;
} 
.main-right-section img:last-child{
    width:15rem;
    height:22rem;
    margin-top: -1rem;
    margin-left: 5rem;
} 
